.details {
 padding: 20px;
 color: #042331;
 border-radius: 18px;
 box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
 position: flex;
 margin: 1rem auto;
 font-weight: 700;
 font-size: 1.2rem;
 text-align: center;
 background-color: rgba(255, 255, 255, 0.2);
}
.fa-trash-alt:hover {
 color: red;
}

.bottom {
 display: flex;
 justify-content: space-evenly;
 text-align: center;
 width: 100%;
 margin: 1rem auto;
 padding: 1rem;
 margin-left: -1rem;
 margin-right: 2rem;
}

.top {
 width: 100%;
 margin: 1rem auto;
}
